.post {
  display: flex;
  justify-content: center;

  margin-bottom: 256px;
  margin: 88px 64px 0;
}

.post:last-child {
  margin-bottom: 88px;
}

.post img {
  object-fit: contain;
  width: 520px;
  height: 600px;
}

.post:nth-child(even) .text {
  order: 1;
  margin-right: 165px;
}

.post:nth-child(odd) .text {
  margin-left: 165px;
}

.post:nth-child(even) img {
  order: 2;
}

.text {
  width: 536px;
}

.text h1 {
  color: var(--black);
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.text p {
  color: var(--black-75);
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  margin-top: 32px;
}

@media screen and (max-width: 1440px) {
  .text h1 {
    font-size: 40px;
  }

  .text p {
    font-size: 18px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .post img {
    width: 600px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  .post img {
    width: 464px;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .post {
    flex-direction: column;
    align-items: center;
  }

  .post img {
    margin-bottom: 32px;
  }

  .text {
    width: auto;
    max-width: 464px;
    margin: 0 !important;
    order: 2 !important;
  }
}

@media screen and (max-width: 768px) {
  .post {
    margin: 88px 32px 0;
  }
}

@media screen and (max-width: 481px) {
  .post img {
    width: 340px;
  }

  .text {
    max-width: 340px;
  }
}

@media screen and (max-width: 388px) {
  .post img {
    width: 312px;
  }

  .text {
    max-width: 312px;
  }
}
