.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: var(--black);
}

.form input {
  padding: 0 24px;
  margin-bottom: 32px;

  background-color: var(--black-5);
  border: 1px solid var(--black-25);
  border-radius: 4px;

  width: 100%;
  max-width: 648px;
  height: 56px;
  color: var(--black-75);
  font-size: 24px;
}

.form textarea {
  padding: 8px 24px;
  margin-bottom: 32px;

  font-size: 24px;
  color: var(--black-75);

  background-color: var(--black-5);
  border: 1px solid var(--black-25);
  border-radius: 4px;

  font-family: "Raleway";
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: var(--black);

  resize: none;
  width: 100%;
  max-width: 648px;
  height: 136px;
}

.form button {
  border: none;
  outline: none;

  width: 294px;
  height: 88px;
  color: #fff;
  background-color: var(--black);

  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

  cursor: pointer;
  transition: 0.4s ease-in;
}

.form button:active {
  background-color: var(--black-50);
}

.error {
  border: 1px solid rgb(175, 51, 51) !important;
  background-color: rgba(175, 51, 51, 0.25) !important;
}

@media screen and (max-width: 1200px) {
  .form {
    order: 2;
  }
}
