:root {
  --black: rgb(36, 36, 36);
  --black-75: rgba(36, 36, 36, 0.75);
  --black-50: rgba(36, 36, 36, 0.5);
  --black-25: rgba(36, 36, 36, 0.25);
  --black-10: rgba(36, 36, 36, 0.1);
  --black-5: rgba(36, 36, 36, 0.05);
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  position: relative;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  max-width: 1820px;
  margin: 0 auto;
  user-select: n;
}
